
/bin/adl2010b.apk
/bin/classes.dex
/bin/com/kupriyanov/android/apps/translate/R$array.class
/bin/com/kupriyanov/android/apps/translate/R$attr.class
/bin/com/kupriyanov/android/apps/translate/R$drawable.class
/bin/com/kupriyanov/android/apps/translate/R$id.class
/bin/com/kupriyanov/android/apps/translate/R$layout.class
/bin/com/kupriyanov/android/apps/translate/R$string.class
/bin/com/kupriyanov/android/apps/translate/R$xml.class
/bin/com/kupriyanov/android/apps/translate/R.class
/bin/com/kupriyanov/android/apps/translate/TranslateActivity$1.class
/bin/com/kupriyanov/android/apps/translate/TranslateActivity$ApiException.class
/bin/com/kupriyanov/android/apps/translate/TranslateActivity$ParseException.class
/bin/com/kupriyanov/android/apps/translate/TranslateActivity.class
/bin/com/kupriyanov/android/apps/translate/TranslateIntentPreferences.class
/bin/resources.ap_
/bin